{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="autor" content="OAGEW">
  <title>Pixied OpenWorld - {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'polls/mystyle.css' %}">
</head>

<script src="{% static 'polls/message.js' %}" ></script>
<body>
    {{message_status}}
    <canvas id="bgCanvas" class = "background backgroundCanvas"></canvas>
    <canvas id="terCanvas" class = "background backgroundCanvas"></canvas>
    <div id="entirePageDiv">
        {% block page %}
        {% endblock %}
    </div>
    <div class="menu">
        <form action=""  method='POST'>{% csrf_token %}
            <button id="stopAnimB" class="btn btn-primary btn-lg outline leftfloat">Stop anim</button>
            <button type="submit" id="HomeB" name="Home" class="btn btn-primary btn-lg outline leftfloat">Home Page</button>
        </form>
        <hr />
        <div class="alert alert-danger myalert" id="messageDiv">
                <strong>Info!</strong> <span id="message">JavaScript required</span>
        </div>
    </div>
</body>
</html>

<script src="{% static 'polls/AnimBack.js' %}" ></script>
<script>
{% if message_status is not None %} 
    showMessage({% if message_status %}true{% else %}false{% endif %}, "{{ message_text }}"); 
{% else %}
    showMessage(false, "");
{% endif %}    
</script>
