{% extends 'polls/userPageBase.html' %}
{% load staticfiles %}
<head>
  {% block title %}Play{% endblock %}
</head>
{% block pageContent %}
    <h1>Play</h1>
    <hr/>
    <span class="invisible"  id="arrow-up">
        <span class="glyphicon glyphicon-arrow-up"></span>&nbsp;&nbsp;
        <span class="glyphicon glyphicon-arrow-up"></span>&nbsp;&nbsp;
        <span class="glyphicon glyphicon-arrow-up"></span>
    </span>
    <div class="scrollable" id="scrollPanel" style="max-height: 300px">
        <form method='POST' action=''>{% csrf_token %}
            <table class="showTable">
            {% for game in games %}
                <tr>
                    <td class = "showTable topAlign">
                        <div class="stardiv" id="star-userrating"><div style="position: absolute;">&#9829; &#9829; &#9829; &#9829; &#9829;</div>
                            <div class="starhider" style="background: linear-gradient(to right, rgb(0,0,0,0) {{game.get_rating}}% , rgb(255,255,255,0.8) {{game.get_rating}}%);">&nbsp;</div>
                        </div>
                    </td>
                    <td class = "showTable topAlign">
                        {% if game.author.user != user %}
                            {{game.author.user.username}}: 
                        {% else %}
                            <strong>Me:</strong>
                        {% endif %}
                    </td>
                    <td class = "showTable topAlign">
                        <strong>{{game.name}}</strong>
                    </td>
                    <td class = "showTable wraped topAlign" style="max-width:200px;">
                        {{game.description}}
                    </td>
                    <td class = "showTable topAlign">
                        <button onclick="location.href='load/{{game.author.user.username}}/{{game.name}}'" {% if not game.saved %}disabled {%endif%}type="button" class="btn btn-primary" name="game:{{game.name}}">Load</button>
                    </td>
                    <td class = "showTable topAlign">
                        <a href="play/{{game.author.user.username}}/{{game.name}}" {% if game.saved %}onClick="return confirm('Are you sure?')" {%endif%}type="button" class="btn btn-primary" name="game:{{game.name}}">New Game</a>
                    </td>

                </tr>
            {% endfor %}
            </table>
        </form>
    </div>
    <span class="invisible"  id="arrow-down">
        <span class="glyphicon glyphicon-arrow-down"></span>&nbsp;&nbsp;
        <span class="glyphicon glyphicon-arrow-down"></span>&nbsp;&nbsp;
        <span class="glyphicon glyphicon-arrow-down"></span>
    </span>
    <hr/>
    {% if games.count == 0 %}
        <a class="centered" href="./explorer">You have not marked any games, go to explore page!<br />&nbsp;</a> 
    {% else %}
        <p class="centered">You have marked {{games.count}} games<br />&nbsp;</p> 
    {% endif %}

<script>
    <!-- Inicialization -->
    var scrollPanel = document.getElementById("scrollPanel");

    window.setInterval(function(){
            scrollTop = scrollPanel.scrollTop;
            if (scrollTop > 0){
                document.getElementById("arrow-up").style.visibility = "visible";
            }else{
                document.getElementById("arrow-up").style.visibility = "hidden";
            }
            if (scrollPanel.scrollHeight - scrollPanel.clientHeight > scrollTop){
                document.getElementById("arrow-down").style.visibility = "visible";
            }else{
                document.getElementById("arrow-down").style.visibility = "hidden";
            }
        }, 100);

</script>

{% endblock %}
</html>
