{% extends 'polls/userPageBase.html' %}
{% load staticfiles %}
<head>
  {% block title %}Draw{% endblock %}
</head>
{% block pageContent %}

<h1>Canvas</h1>
<hr />
<table>
    <tr>
        <td>
            <input id="name" type="text" name="name" class="form-control fullWidth" placeholder="name"/>
            <canvas class="canvas" name="canvas" id="canvas"></canvas>
        </td>
        <td class="topAlign">
            <button name="save" id = "save" class="btn btn-primary fullWidth" >Save</button><br />
            <button name="load" id = "load" class="btn btn-primary fullWidth" >Load</button><br />
            </hr>
            &nbsp;
            </hr>
            <button name="ins" id = "ins" class="btn btn-primary fullWidth" >Insert</button><br />
            <button name="upl" id = "upl" class="btn btn-primary fullWidth" >Upload</button><br />
            <button name="drw" id = "drw" class="btn btn-primary fullWidth" >Draw</button><br />
        </td>
    </tr>
</table>
</canvas>

{% endblock %}
</html>
