{% extends 'polls/userPageBase.html' %}
{% load staticfiles %}
<head>
  {% block title %}Editor{% endblock %}
</head>
{% block pageContent %}
    
    <h1 class="fullWidth">Edit game {{gamename}}</h1>
    <hr />
    <table class="editTable fullWidth"  style="display: block">
        <tr>
            <td class="editTable"rowspan = "2">
                <div class="topAlign">
                    <p>
                    <h2>Frame:</h2>
                    <select id="frame-select" class="fullWidth" onChange="changeFrame()">
                        {% for frame in frames %}
                            <option value="{{ frame.name }}">{{ frame.name }}</option>
                        {% endfor %}
                    </select>
                    </p>
                    <p>
                    <button id = "newFrame" class="btn btn-primary fullWidth" onClick="newFrame()">New Frame</button>
                    <div class="form-group fullWidth">
                        Notes:<br />
                        <textarea rows="5" id="notes"></textarea>
                    </div>
                    </p>
                    <h3>Start dialog</h3>
                    <select id="start-dialog-select" class="fullWidth">
                        <option value="None">No one</option>
                        {% for dialog in dialogs %}
                            <option value="{{ dialog.name }}">{{ dialog.name }}</option>
                        {% endfor %}
                    </select> 
                    <div>
                        <button id = "saveFrame" class="btn btn-primary fullWidth" onClick="saveFrame()">Save Frame</button>
                        <hr />
                        <button id = "delete-frame" class="btn btn-primary fullWidth" onclick="deleteFrame()">Delete frame</button>
                    </div>
                </div>
            </td>
            <td class="editTable">
                <canvas width="600" height="480"></canvas>
            </td>
            <td class="editTable"rowspan = "2" >
                <h2>Objects:</h2>
                <table id="objectTable" class="itemTable">
                    {% for image in images %}
                        <tr><td><label value="{{ forloop.counter0 }}">{{ image.name }}</label></td></tr>
                    {% endfor %}
                </table>
                <button id = "newObject" class="btn btn-primary" >New Image</button>    
            </td>
        </tr>
        <tr>
            <td class="editTable fullWidth">
                <table style="width:100%">
                    <tr>
                        <td>
                            <h2>Dialogs:</h2>
                        </td>
                        <td>
                            <div class="scrollable" style="width: 300px" id="dialogScrollDiv">
                                {% for dialog in dialogs %}
                                    <button onClick="editDialog('{{ dialog.name }}')">{{ dialog.name }}</button>
                                {% endfor %}
                            </div>
                        </td>
                        <td>
                            <button id = "newDialog" class="btn btn-primary" onClick="newDialog()">New Dialog</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    
    <!-- The editDialog -->
    <div id="editDialog" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span id="close" class="close">&#10006;</span>
            <h1 id="dialogH1">Dialog Editor</h1>
            <div id="dialog-edit-div" class="fullWidth">
            </div>
            <form action="" method="POST">{% csrf_token %}
                <input type = "hidden" name = "text" id = "input-file"></input>
                <input type = "hidden" name = "name" id = "input-name"></input>
                <input type="submit" name = "save-dialog"class="btn btn-primary" value="Save dialog"></button>
                <input type="submit" name = "delete-dialog"class="btn btn-primary" onclick="return confirm('Are you sure? There is no undo.')"value="Delete dialog"></button>
            </form>
            <form action="" method="POST" onSubmit="confirm('Are you sure?')">{% csrf_token %}
               
            </form>
      </div>
    </div>
    
    <hr />
    
<script src="{% static 'polls/dialog-base.js' %}" ></script>
<script>
function drawFrame(frameNumber){
    
    }
function newFrame(){
    waitMessage();
    var framename = prompt("Name of frame:");
    var xmlhttp;
    if (window.XMLHttpRequest){
        xmlhttp = new XMLHttpRequest();
    }
    else{
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange = function(){
        if (this.readyState == 4 && this.status == 200){
            var response = JSON.parse(this.responseText);
            showMessage(response["message_status"], response["message_text"]);
        }
    }
    xmlhttp.open("GET","new_frame/"+framename,true);
    xmlhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xmlhttp.send();
}    
function newDialog(){
    waitMessage();
    var dialogname = prompt("Name of dialog:");
    var xmlhttp;
    if (window.XMLHttpRequest){
        xmlhttp = new XMLHttpRequest();
    }
    else{
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange = function(){
        if (this.readyState == 4 && this.status == 200){
            var response = JSON.parse(this.responseText);
            showMessage(response["message_status"], response["message_text"]);
            if (JSON.parse(this.responseText)["message_status"]){
                var newButton = document.createElement("button");
                newButton.onclick = function() { editDialog(dialogname) };
                newButton.innerHTML = dialogname;
                document.getElementById("dialogScrollDiv").appendChild(newButton);
                element = document.createElement("option");
                element.text = dialogname.toString();
                document.getElementById("start-dialog-select").add(element);
            }
        }
    }
    xmlhttp.open("GET","new_dialog/"+dialogname,true);
    xmlhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xmlhttp.send();
}

function editDialog(dialogname){
    waitMessage();
    var xmlhttp;
    if (window.XMLHttpRequest){
        xmlhttp = new XMLHttpRequest();
    }
    else{
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange = function(){
        if (this.readyState == 4 && this.status == 200){
            showMessage(true, "Dialog loaded.");
            var data = JSON.parse(this.responseText);
            document.getElementById("input-name").value=dialogname;
            document.getElementById("dialogH1").innerHTML = "Edit "+dialogname;
            createView(editDialogDiv, true, data["dialog"], document.getElementById("input-file"));
            modal.style.display = "block";
        }
    }
    xmlhttp.open("GET","edit_dialog/"+dialogname,true);
    xmlhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xmlhttp.send();
}

function changeFrame(){
    waitMessage();
    var xmlhttp;
    if (window.XMLHttpRequest){
        xmlhttp = new XMLHttpRequest();
    }
    else{
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange = function(){
        if (this.readyState == 4 && this.status == 200){
            showMessage(true, "Frame loaded.");
            var response = JSON.parse(this.responseText)
            document.getElementById("start-dialog-select").value = response['start_dialog'];
            document.getElementById("notes").value = response['notes'].replace("<br>", "\n");
        }
    }
    xmlhttp.open("GET","get_frame/"+document.getElementById("frame-select").value,true);
    xmlhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xmlhttp.send();
}
function saveFrame(){
    waitMessage();
    var xmlhttp;
    if (window.XMLHttpRequest){
        xmlhttp = new XMLHttpRequest();
    }
    else{
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange = function(){
        if (this.readyState == 4 && this.status == 200){
            showMessage(true, "Frame saved.");
        }
    }
    xmlhttp.open("GET","set_frame/"+
            document.getElementById("frame-select").value + "/"+ 
            document.getElementById("start-dialog-select").value +"/"+
            document.getElementById("notes").value.replace(/(\r\n|\n|\r)/gm, "<br>"), true
        );
    xmlhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xmlhttp.send();
}
function deleteFrame(){
    if (confirm('Are you sure? There is no undo.')){
    waitMessage();
    var xmlhttp;
    if (window.XMLHttpRequest){
        xmlhttp = new XMLHttpRequest();
    }
    else{
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange = function(){
        if (this.readyState == 4 && this.status == 200){
            showMessage(true, "Frame deleted.");
            var sel = document.getElementById("frame-select");
            sel.remove(sel.selectedIndex);
            changeFrame();
        }
    }
    xmlhttp.open("GET","delete_frame/"+document.getElementById("frame-select").value,true);
    xmlhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xmlhttp.send();
        
    }
}

var modal = document.getElementById('editDialog');
var editDialogDiv = document.getElementById('dialog-edit-div');
var closeSpan = document.getElementById("close");
changeFrame();
closeSpan.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
} 
</script>

{% endblock %}
</html>
