{% extends 'polls/userPageBase.html' %}
{% load staticfiles %}
<head>
  {% block title %}Edit{% endblock %}
</head>
{% block pageContent %}
    <!-- The NewGameModal -->
    <div id="newGameModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span id="close" class="close">&#10006;</span>
          <form method='POST' action=''>{% csrf_token %}
            <table>
                <tr><td>Game name:&nbsp;</td><td><input id="name" type="text" name="name" class="form-control" required=1 /></td></tr>
                <tr><td>Description:&nbsp;</td><td><textarea id="description" name="description" class="form-control"></textarea></td></tr>
                <tr><td></td><td><button type="submit" name="createNew" id = "createNew" class="btn btn-primary">Create</button></td></tr>
            </table>
          </form>
      </div>
    </div>
    
    <h1>Edit games</h1>
    <hr />
    <button type="submit" name="new" id = "new" class="btn btn-primary" >New Game</button>
    <hr/>
    <span class="invisible"  id="arrow-up">
        <span class="glyphicon glyphicon-arrow-up"></span>&nbsp;&nbsp;
        <span class="glyphicon glyphicon-arrow-up"></span>&nbsp;&nbsp;
        <span class="glyphicon glyphicon-arrow-up"></span>
    </span>
    <div class="scrollable" id="scrollPanel" style="max-height: 200px">
        <form method='POST' action=''>{% csrf_token %}
            <table class="showTable">
            {% for game in games %}
                <tr>
                    <td class = "showTable topAlign">
                        <div class="stardiv" id="star-userrating"><div style="position: absolute;">&#9829; &#9829; &#9829; &#9829; &#9829;</div>
                            <div class="starhider" style="background: linear-gradient(to right, rgb(0,0,0,0) {{game.get_rating}}% , rgb(255,255,255,0.8) {{game.get_rating}}%);">&nbsp;</div>
                        </div>
                    </td>
                    <td class = "showTable topAlign">
                        <strong>{{game.name}}</strong>
                    </td>
                    <td class = "showTable wraped topAlign" style="max-width:200px;">
                        {{game.description}}
                    </td>
                    <td class = "showTable topAlign">
                        <button onclick="location.href='{{game.name}}'" type="button" class="btn btn-primary" name="game:{{game.name}}">Edit</button>
                    </td>
                    <td class = "showTable topAlign">
                        <a href="{{game.name}}/delete" class="btn btn-primary" onclick="return confirm('Realy? There is no undo...')">Delete</a>
                    </td>
                    <td class = "showTable topAlign">
                        <label class="switch btn">
                            <input type="checkbox" name="slider" {% if game.playable is True %}checked{% endif %} onchange="changePlayabilityOfGame('{{game.name}}')">
                            <span class="slider"></span>
                        </label>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </form>
    </div>
    <span class="invisible"  id="arrow-down">
        <span class="glyphicon glyphicon-arrow-down"></span>&nbsp;&nbsp;
        <span class="glyphicon glyphicon-arrow-down"></span>&nbsp;&nbsp;
        <span class="glyphicon glyphicon-arrow-down"></span>
    </span>
    <hr/>
    <p class="centered">You have {{num_of_games}} games<br />&nbsp;</p> 
    

<script>
    <!-- Inicialization -->
    var scrollPanel = document.getElementById("scrollPanel");

    <!-- The LoginModal -->
    var modal = document.getElementById('newGameModal');
    var btn = document.getElementById("new");
    var span = document.getElementById("close");
    btn.onclick = function() {
        modal.style.display = "block";
    }
    span.onclick = function() {
        modal.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    } 
    
    window.setInterval(function(){
            scrollTop = scrollPanel.scrollTop;
            if (scrollTop > 0){
                document.getElementById("arrow-up").style.visibility = "visible";
            }else{
                document.getElementById("arrow-up").style.visibility = "hidden";
            }
            if (scrollPanel.scrollHeight - scrollPanel.clientHeight > scrollTop){
                document.getElementById("arrow-down").style.visibility = "visible";
            }else{
                document.getElementById("arrow-down").style.visibility = "hidden";
            }
        }, 100);
        
    function changePlayabilityOfGame(gamename){
        console.log("changed "+gamename);
        var xmlhttp;
        if (window.XMLHttpRequest){
            xmlhttp = new XMLHttpRequest();
        }
        else{
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function(){
            if (this.readyState == 4 && this.status == 200){
                console.log(this.responseText);
            }
        }
        xmlhttp.open("GET",gamename+"/change_game_playability",true);
        xmlhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xmlhttp.send();
    }

</script>

{% endblock %}
</html>
