{% extends 'polls/userPageBase.html' %}
{% load staticfiles %}
<head>
  {% block title %}Explorer{% endblock %}
</head>
{% block pageContent %}

    <h1>Explore Pixied</h1>
    <table class="gametable fullWidth">
        <tr>
            <th colspan="2">
                Fairies:
            </th>
            <th colspan="3">
                Games:
            </th>
        </tr> 
        <tr>
            <td>fairies</td>
            <td class="fullWidth" style="text-align: centre">Followed</td>
            <td>Game</td>
            <td>Description</td>
            <td class="fullWidth" style="text-align: centre">Marked</td>
        </tr>
        <tr>
            <td class="fullWidth inner-gametable" colspan="2">
                <div class="scrollable inner-gametable" name="scrollPanel" style="max-height: 300px">
                <table class="inner-gametable fullWidth">
                    {% for f in my_favourites %}
                        <tr>
                            <td class="brd" class="brd">{{f.followers.all.count}}</td>
                            <td class="brd"><div class="stardiv" id="star-userrating"><div style="position: absolute; display: block;">&#9829; &#9829; &#9829; &#9829; &#9829;</div>
                                <div class="starhider" style="background: linear-gradient(to right, rgb(0,0,0,0) {{f.get_rating}}% , rgb(255,255,255,0.8) {{f.get_rating}}%);">&nbsp;</div>
                            </div></td>
                            <td class="brd"<span name="favourites">{{ f.user.username }}</span></td>
                            <td class="fullWidth brd" style="text-align: right">                        
                                <label class="switch btn">
                                   <input type="checkbox" name="slider" id="follow-{{f.user.username}}" checked onchange="follow('{{f.user.username}}')">
                                   <span class="slider"></span>
                               </label>
                            </td>                        
                        </tr>
                    {% endfor %}
                    <tr style="height:100%"></tr>
                </table>
                <table class="inner-gametable fullWidth" id="founded-users"></table>
                </div>
            </td>
            <td class="scrollable fullWidth inner-gametable" style="max-height:20px" colspan="3">
                <div class="scrollable inner-gametable" name="scrollPanel" style="max-height: 500px">
                <table class="inner-gametable fullWidth">
                    {% for g in my_games %}
                        <tr>
                            <td class="brd"><bold>Me: </bold></td>
                            <td class="brd">{{ g.name }}</td>
                            <td class="brd">{{ g.description }}</td>
                            <td class="fullWidth" style="text-align: right">                        
                            </td>
                       </tr>
                    {% endfor %}
                    <tr style="height:100%"></tr>
                </div>
                </table>
                <table class="inner-gametable fullWidth" id="games"></table>
                <tr style="height:100%"></tr>
            </td>
        </tr>
        <tr>
            <td style="width:100%"><input type="text" id="find_users_by" placeholder="find fairies" style="width:100%"></input></td>
            <td><button class="btn btn-primary" onClick="findUsers()"> &gt; </button></td>
            <td colspan="3"></td>
        </tr>
    </table>

    <!-- The comment -->
    <div id="commentModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span id="close" class="close">&#10006;</span>
        <p>
          <form method='POST' action=''>{% csrf_token %}
            <h1 id="modal_gamename"></h1>
            <table id = "modal_table"></table>
          </form>
        </p>
      </div>
    </div>
  </div>  

<script>
function findUsers(){
    var wanted = document.getElementById("find_users_by").value;
    waitMessage();
    var xmlhttp;
    if (window.XMLHttpRequest){
        xmlhttp = new XMLHttpRequest();
    }
    else{
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange = function(){
        if (this.readyState == 4 && this.status == 200){
            var div = document.getElementById("founded-users"); 
            showMessage(true, "Loaded.");
            var data = JSON.parse(this.responseText);
            var todiv = "";
            var favourites = document.getElementsByName("favourites");
            var favUsers = [];
            for (var i = 0; i < favourites.length; i++ ){
                favUsers.push(favourites[i].innerHTML);
            }
            for (var i = 0; i < data["favs"].length; i++) {
                if (favUsers.indexOf(data["favs"][i]["name"]) == -1){
                    todiv += '<tr><td class="brd">'+data["favs"][i]["num_followers"]+'</td><td><div class="stardiv" id="star-userrating"><div style="position: absolute; display: block;">&#9829; &#9829; &#9829; &#9829; &#9829;</div>'+
                                    '<div class="starhider" style="background: linear-gradient(to right, rgb(0,0,0,0) '+data["favs"][i]['rating']+'% , rgb(255,255,255,0.8) '+data["favs"][i]['rating']+'%);">&nbsp;</div>'+
                                '</div></td>'+
                                '<td class="brd">'+data["favs"][i]["name"]+'</td><td style="text-align: right">'+
                                    '<label class="switch btn">'+
                                       '<input type="checkbox" name="slider" checked id="follow-'+data["favs"][i]["name"]+'" onchange="follow('+"'"+data["favs"][i]["name"]+"'"+')">'+
                                       '<span class="slider"></span>'+
                                   '</label></td></tr>';
                }
            }
            for (var i = 0; i < data["users"].length; i++) {
                if (favUsers.indexOf(data["users"][i]["name"]) == -1){
                    todiv += '<tr><td class="brd">'+data["users"][i]['num_followers']+'</td><td><div class="stardiv" id="star-userrating"><div style="position: absolute; display: block;">&#9829; &#9829; &#9829; &#9829; &#9829;</div>'+
                                    '<div class="starhider" style="background: linear-gradient(to right, rgb(0,0,0,0) '+data["users"][i]['rating']+'% , rgb(255,255,255,0.8) '+data["users"][i]['rating']+'%);">&nbsp;</div>'+
                                '</div></td>'+
                                '<td class="brd">'+data["users"][i]["name"]+'</td><td style="text-align: right">'+
                                    '<label class="switch btn">'+
                                       '<input type="checkbox" name="slider" id="follow-'+data["users"][i]["name"]+'" onchange="follow('+"'"+data["users"][i]["name"]+"'"+')">'+
                                       '<span class="slider"></span>'+
                                   '</label></td></tr>';
                }
            }
            div.innerHTML = todiv;
        }
    }
    xmlhttp.open("GET","search/users/"+wanted,true);
    xmlhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xmlhttp.send();
}

function findGames(){
    waitMessage();
    var xmlhttp;
    if (window.XMLHttpRequest){
        xmlhttp = new XMLHttpRequest();
    }
    else{
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange = function(){
        if (this.readyState == 4 && this.status == 200){
            var data = JSON.parse(this.responseText);
            showMessage(true, "Games loaded");
            var table = document.getElementById("games")
            var todiv="";
            for (var i = 0; i < data["games"].length; i++) {
                todiv += '<tr><td class="brd"><div class="stardiv" id="star-userrating"><div style="position: absolute; display: block;">&#9829; &#9829; &#9829; &#9829; &#9829;</div>'+
                                    '<div class="starhider" style="background: linear-gradient(to right, rgb(0,0,0,0) '+data["games"][i]['rating']+'% , rgb(255,255,255,0.8) '+data["games"][i]['rating']+'%);">&nbsp;</div>'+
                                '</div></td>'+
                                '<td class="brd" nowrap>'+data["games"][i]['author']+'</td>'+
                                '<td class="brd" nowrap>'+data["games"][i]['name']+'</td>'+
                                '<td class="brd" nowrap>'+data["games"][i]['desc']+'</td>'+
                                '<td  class="brd" style="text-align: right">'+
                                '<label class="switch btn">'+
                                    '<input type="checkbox" name="slider"'+(data["games"][i]['marked'] ? ' checked' : '') +' id="mark-'+data["games"][i]['author']+":"+data["games"][i]['name']+'" onchange="mark('+"'"+data["games"][i]['author']+"'"+','+"'"+data["games"][i]['name']+"'"+')">'+
                                    '<span class="slider"></span>'+
                                '</label></td><td><button class="btn  btn-primary" style="height: 100%; width:30px; padding:1px" onClick="showCommentModal('+"'"+data["games"][i]['author']+"','"+data["games"][i]['name']+"'"+')">?</button></td></tr>';
            }
            table.innerHTML = todiv;
        }
    }
    xmlhttp.open("GET","search/games/",true);
    xmlhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xmlhttp.send();
}

function follow(username){
    var status = document.getElementById("follow-"+username).checked;
    waitMessage();
    var xmlhttp;
    if (window.XMLHttpRequest){
        xmlhttp = new XMLHttpRequest();
    }
    else{
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange = function(){
        if (this.readyState == 4 && this.status == 200){
            showMessage(true, (status ? "Followed":"Unfollowed")+".");
            findGames();
        }
    }
    xmlhttp.open("GET",(status ? "follow" : "unfollow")+"/"+username,true);
    xmlhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xmlhttp.send();
}
function mark(username, gamename){
    var status = document.getElementById("mark-"+username+":"+gamename).checked;
    waitMessage();
    var xmlhttp;
    if (window.XMLHttpRequest){
        xmlhttp = new XMLHttpRequest();
    }
    else{
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange = function(){
        if (this.readyState == 4 && this.status == 200){
            showMessage(true, (status ? "Marked":"Unmarked")+".");
        }
    }
    xmlhttp.open("GET",(status ? "mark" : "unmark")+"/"+username + "/" + gamename,true);
    xmlhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xmlhttp.send();
}
function rate(username, gamename, value){
    waitMessage();
    var xmlhttp;
    if (window.XMLHttpRequest){
        xmlhttp = new XMLHttpRequest();
    }
    else{
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange = function(){
        if (this.readyState == 4 && this.status == 200){
            showMessage(true, (value > 0 ? "Rated": "Unrated"));
            document.getElementById("star:"+ username +":"+ gamename +":1").className = (value > 0) ? "star-checked":"star-unchecked";
            document.getElementById("star:"+ username +":"+ gamename +":2").className = (value > 1) ? "star-checked":"star-unchecked";
            document.getElementById("star:"+ username +":"+ gamename +":3").className = (value > 2) ? "star-checked":"star-unchecked";
            document.getElementById("star:"+ username +":"+ gamename +":4").className = (value > 3) ? "star-checked":"star-unchecked";
            document.getElementById("star:"+ username +":"+ gamename +":5").className = (value > 4) ? "star-checked":"star-unchecked";
        }
    }
    xmlhttp.open("GET",(status ? "mark" : "rate")+"/"+username + "/" + gamename + "/" + value,true);
    xmlhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xmlhttp.send();
}
<!-- The LoginModal -->
    var modal = document.getElementById('commentModal');
    var span = document.getElementById("close");
    function showCommentModal(username, gamename){
        waitMessage();
        var xmlhttp;
        if (window.XMLHttpRequest){
            xmlhttp = new XMLHttpRequest();
        }
        else{
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function(){
            if (this.readyState == 4 && this.status == 200){
                document.getElementById("modal_gamename").innerHTML = gamename;
                var toTable = "<tr><th class='showTable'>User</th><th class='showTable'>Rating</th><th class='showTable' style='width: 100%'>comment</th></tr>";
                var data = JSON.parse(this.responseText);
                console.log(data);
                showMessage(true, "comments loaded.");
                console.log(data["comments"]);
                for (var i = 0; i < data["comments"].length; i++){
                    toTable += "<tr>"+
                            "<td class='showTable'>"+data["comments"][i]["user"]+":</td>"+
                            "<td class='showTable'>"+commentStar(data["comments"][i]["rating"])+"</td>"+
                            "<td class='showTable'>"+data["comments"][i]["text"]+"</td>"+
                        "</tr>";
                }
                document.getElementById("modal_table").innerHTML = toTable;
                console.log(toTable);
                modal.style.display = "block";
            }
        }
        xmlhttp.open("GET","get_comments/"+username + "/" + gamename,true);
        xmlhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xmlhttp.send();
    }
    span.onclick = function() {
        modal.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    } 
function commentStar(rat) {
    var text = "";
    for (var k=1; k<=5; k++){
        text+= "<span class='"+((rat>=k)?"star-checked":"star-unchecked")+"'>&#9829;</span>";
    }
    return text;
}

findGames();
</script>


{% endblock %}
</html>
