{% extends 'polls/base.html' %}
{% load staticfiles %}
<head>
  {% block title %}Login{% endblock %}
</head>
{% block page %}
    <div class="whitediv">
        <h1>Pixied OpenWorld</h1>
        <h2>Fairybornin'</h2>
        <hr />
        <form method='POST' action=''>{% csrf_token %}
            <table>
            <tr><td>UserName:&nbsp;</td><td><input id="username" type="text" name="username" value = "{{user.username}}" required=1/></td></tr>
            <tr><td>Password:&nbsp;</td><td><input id="password" type="password" name="password" required=1/></td></tr>
            <tr><td>Password (again):&nbsp;</td><td><input id="passwordCh" type="password" name="passwordCh" required=1/></td></tr>
            <tr><td>e-mail:&nbsp;</td><td>{{user.email}}</td></tr>
            <tr><td>I'm:&nbsp;</td>
                <td><select required=1 name="gender" >
                    <option value="None" selected=1 disabled=1>Choose</option>
                    <option value="1">Pixie (more like female)</option>
                    <option value="2">Imp (more like male)</option>
                    <option value="3">Sprite (both or neither)</option>
            </select></td></tr> 
            </table>
            <hr />
            <p class="badtext">
            {{message.value}}
            </p>
            <input type="submit" name="SignUp" value="Create Account" class="btn btn-primary">
          </form>
    </div>

    
<script>
</script>
{% endblock %}
</html>
