{% extends 'polls/base.html' %}
{% load static %}
<head>
  {% block title %}Login{% endblock %}
</head>
{% block page %}
  <div class = "whitediv">
    <hr />
    <div>
        <h1 class="centered">Welcome in<br/> PIXIED OpenWorld</h1><br />
        <button id="LoginBtn" class="btn btn-primary centered">Enter</button><br />
        <p class="centered">{{ message.value }} </p>
        <hr />
        <p class="centered">Are you new? Hurry! </p> 
        <button id="SignUpBtn" class="btn btn-primary centered">Sign up!</button>
    </div>
    
    <!-- The LoginModal -->
    <div id="loginModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span id="close" class="close">&#10006;</span>
        <p>
          <form method='POST' action=''>{% csrf_token %}
            <table>
            <tr><td>UserName:&nbsp;</td><td><input id="username" type="text" name="username" class="form-control" /></td></tr>
            <tr><td>Password:&nbsp;</td><td><input id="password" type="password" name="password" class="form-control" /></td></tr>
            <tr><td></td><td><button type="submit" name="LogIn" id = "LogIn" class="btn btn-primary">Log in</button></td></tr>
            </table>
          </form>
        </p>
      </div>
    </div>
    
    <!-- The SignUpModal -->
    <div id="SignUpModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span id="close2" class="close">&#10006;</span>
        <p>
          <form method='POST' action=''>{% csrf_token %}
            <table>
            <tr><td>Email:&nbsp;</td><td><input id="email" type="text" name="email" class="form-control" /></td></tr>
            <tr><td></td><td><button type="submit" name="SignUp" class="btn btn-primary">Sign Up</button></td></tr>
            </table>
          </form>
        </p>
      </div>
    </div>
  </div>  
<script>
<!-- The LoginModal -->
    var modal = document.getElementById('loginModal');
    var btn = document.getElementById("LoginBtn");
    var span = document.getElementById("close");
    btn.onclick = function() {
        modal.style.display = "block";
    }
    span.onclick = function() {
        modal.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    } 
<!-- The SignUpModal -->
    var modal2 = document.getElementById('SignUpModal');
    var btn2 = document.getElementById("SignUpBtn");
    var span2 = document.getElementById("close2");
    btn2.onclick = function() {
        modal2.style.display = "block";
    }
    span2.onclick = function() {
        modal2.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modal2) {
            modal2.style.display = "none";
        }
    } 
</script>
{% endblock %}
</html>
