{% extends 'polls/userPageBase.html' %}
{% load staticfiles %}
<head>
  {% block title %}Player{% endblock %}
</head>
{% block pageContent %}
{% if message_status %}
<h1>{{game.author.user.username}}:{{game.name}}</h1>
<hr /> 

<div id="gamediv"></div>
{% if not user.username == game.author.user.username %}
    <hr />
    Your opinion about this game?<br />
    <span class="stardiv" style="font-size:30px">
        <span id="star:1" class="{% if rating > 0%}star-checked{% else %}star-unchecked{% endif %}" onclick="rate(1)">&#9829;</span>
        <span id="star:2" class="{% if rating > 1%}star-checked{% else %}star-unchecked{% endif %}" onclick="rate(2)">&#9829;</span>
        <span id="star:3" class="{% if rating > 2%}star-checked{% else %}star-unchecked{% endif %}" onclick="rate(3)">&#9829;</span>
        <span id="star:4" class="{% if rating > 3%}star-checked{% else %}star-unchecked{% endif %}" onclick="rate(4)">&#9829;</span>
        <span id="star:5" class="{% if rating > 4%}star-checked{% else %}star-unchecked{% endif %}" onclick="rate(5)">&#9829;</span>
        <span class="star-checked" onclick="rate('{{game.author.user.username}}','{{game.name}}',0)">&cross;</span>
    </span>
{% endif %}
    <form method='POST' action=''>{% csrf_token %}
        <input {% if user.username == game.author.user.username %}type="hidden"{% else %}type="text"{% endif %} id="comment" name="comment" class="form-control fullWidth" placeholder="comment" value="{{comment}}"/>
        <input type = "hidden" name = "dialogname" id = "dialognameO"></input>
        <input type = "hidden" name = "sentence" id = "sentenceO"></input>
        <input type = "hidden" name = "itemList" id = "itemListO"></input>
        <input type = "hidden" name = "flagList" id = "flagListO"></input>
        <input type = "hidden" name = "stars" id = "starsO"></input>
        <input type="submit" name = "saveGame" class="btn btn-primary" onClick="return svgm()" value="Save"></input>
    </form>
<script src="{% static 'polls/dialog-base.js' %}" ></script>
<script>
    function rate(value){
        document.getElementById("starsO").value = value;
        document.getElementById("star:1").className = (value > 0) ? "star-checked":"star-unchecked";
        document.getElementById("star:2").className = (value > 1) ? "star-checked":"star-unchecked";
        document.getElementById("star:3").className = (value > 2) ? "star-checked":"star-unchecked";
        document.getElementById("star:4").className = (value > 3) ? "star-checked":"star-unchecked";
        document.getElementById("star:5").className = (value > 4) ? "star-checked":"star-unchecked";
    }
    
    function svgm(){
        document.getElementById("dialognameO").value = dialogname;
        document.getElementById("sentenceO").value = sentence.number;
        document.getElementById("itemListO").value = JSON.stringify(items);
        document.getElementById("flagListO").value = JSON.stringify(flags);
    }
    
    {% if message_status %}
        document.getElementById("starsO").value = {{rating}};
        {% if load %}
            loadedItems = JSON.parse("{{item_list}}".replace(/&quot;/g, '"'));
            loadedFlags = JSON.parse("{{flag_list}}".replace(/&quot;/g, '"'));
            items = loadedItems;
            flags = loadedFlags;
            createView(document.getElementById("gamediv"), false, "{{start_dialog.name}}", null, {{sentence}}, true);
        {% else %}
        createView(document.getElementById("gamediv"), false, "{{start_dialog.name}}", null, {{sentence}});
        {% endif %}
    {% endif %}
</script>
{% endif %}
{% endblock %}
</html>
