{% extends 'polls/userPageBase.html' %}
{% load staticfiles %}
<head>
  {% block title %}UserPage{% endblock %}
</head>
{% block pageContent %}

<h1>Pixied</h1>
<hr /> 
<form method='POST' action=''>{% csrf_token %}
<div class = "fullWidth">
    <a type="submit" href = "./edit" name="Edit" id = "Edit" class="btn btn-primary" >Edit</a>
    <a type="submit" href = "./play" name="Play" id = "Play" class="btn btn-primary" >Play</a>
    <a type="submit" href = "./draw" name="Draw" id = "Draw" class="btn btn-primary" >Draw</a>
    <br />
    <a type="submit" href = "./explorer" name="Explore" id = "Explore" class="btn btn-primary fullWidth">Explore games</a>
</div>
</form>

{% endblock %}
</html>
