{% extends 'polls/base.html' %}
{% load staticfiles %}
<head>
  {% block title %}Login{% endblock %}
</head>
{% block page %}
<table class = "centered fullWidth">
    <tr>
        <td class="topAlign">
            <div class="whitediv">
                <hr />
                <h1>Profile</h1>
                <hr />
                Name: {{user.username}}<br />
                Followers: {{user.profile.followers.all.count}}<br />
                Rating : 
                <div class="stardiv" id="star-userrating" style="font-size:30px; width:124px"><div style="position: absolute; display: block;">&#9829; &#9829; &#9829; &#9829; &#9829;</div>
                    <div class="starhider" style="background: linear-gradient(to right, rgb(0,0,0,0) {{user.profile.get_rating}}% , rgb(255,255,255,0.8) {{user.profile.get_rating}}%);">&nbsp;</div>
                </div>
                <form method='POST' action=''>{% csrf_token %}
                    <div>
                    <button type="submit" name="LogOut" id = "LogOut" class="btn btn-primary fullWidth" >Log out</button><br />
                    <button type="submit" name="ChangePass" id = "ChangePass" class="btn btn-primary fullWidth" >Change password</button><br />
                    </div>
                </form>
                <hr />
            </div>
        </td>
        <td class="fullWidth topAlign">
            <div class = "whitediv">
            <hr />
                {% block pageContent %}
                {% endblock %}
            </div>
        </td>
    </tr>  
</table>
<script>

</script>
{% endblock %}
</html>
