    .modal{
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 2px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        font-size: 700%;
        color: black;
        float: right;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    } 
    .btn {
        padding: 14px 24px;
        border: 0 none;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .btn:focus, .btn:active:focus, .btn.active:focus {
        outline: 0 none;
    }
    .btn-primary {
        background: #05004c;
        color: #ffffff;
        border: 2px solid #05004c;
    }
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
        background: none;
        color: #05004c;
        border: 2px solid #05004c;
    }
    .btn-primary:active, .btn-primary.active {
        background: #007299;
        box-shadow: none;
    }
    .btn.outline {
        background: none;
        padding: 12px 22px;
    }
    .btn-primary.outline {
        border: 2px solid #ffffff;
        color: #ffffff;
    }
    .btn-primary.outline:hover, .btn-primary.outline:focus{
        color: #ffffff;
        border-color: #05004c;
    }
    .btn-primary.outline:active, .btn-primary.outline.active {
        border-color: #05004c;
        color: #ffffff;
        box-shadow: none;
    }
    .form-control:focus{
        border-color: #05004c;
        border-width: 2px;
        min-width: 500px;
        box-shadow: none;
        -webkit-box-shadow: none;
    }  

/*bootstrap end*/

/*Toogle switch*/
     /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {display:none;}

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #05004c;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #05004c;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

/*Toogle switch end*/
html{
    overflow: auto;
}
.whitediv{
    display: table;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    background-color: white;
    min-width: 200px;
}
.goodButton{
    border: 2px solid;
    width: 100px;
    border-radius: 10px;
}
.centered{
    display: table;
    margin: 0 auto;
    text-align: center;
}
.big{
    width: 150px;
    height: 40px;
}
hr{
    background-color: black;
    height: 1px;
    width: 90%
}
body{
    background-color: #000;
    color: #000;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.backgroundCanvas{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.goodtext{
    color: #50e900;
}
.badtext{
    color: #ff1900;
}
.darkbody{
    background: linear-gradient(black, blue);
    width: 100%;
    height: 100%;
}
.background{
    z-index: -666;
}
.menu{
    position: fixed;
    bottom: 0;
    padding: 2;
    border-radius: 10px;
    border: 2px solid white;
    background-color: black;
    height: auto;
}
.fullWidth{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: calc(100% - 10px);
}
.canvas{
    width: 600px;
    height: 400px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 4px solid #05004c;
    background-color: white; 
    position: relative;
}
.topAlign{
    vertical-align: 0px;
}
table.showTable{
    margin: 10px;
}
td.showTable{
    padding: 5px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.wraped{
    word-wrap: break-word;
}
.scrollable{
    overflow: auto;
    white-space: nowrap;
}
.invisible{
    visibility: hidden;
}
table.editTable{
    border: 2px solid black;
}
td.editTable{
    border: 1px solid black;
    vertical-align: top;
    white-space:nowrap;
    padding: 2px;
}
table.itemTable{
    overflow: auto;
    width:100%;
    height:100%;
    display: block;
}
table.editor{
    border: 1px solid black;
    width: 90%;
    text-align: left;
}
td.editor, tr.editor{
    border: 1px solid black;
    width: 100%;
    text-align: left;
}
.myalert{
    float: right;
}
button.choice{
    width: 100%;
    text-align: left;
}
div.choice{
    width: 580px;
    border: black solid 1px;
    margin: 5px;
}
.gametext{
    width: 600px;
    min-height: 100px;
    border: black solid 2px;
    margin: 5px;
    text-align: left;
}
.inventory{
    min-height: 20px;
    width: 50%;
    border: black solid 1px;
    margin: 5px;
}
table.gametable{
    height: 200px;
    max-height: 200px;
    overflow: auto;
    white-space: nowrap;
    vertical-align: top;
}
table.inner-gametable, div.inner-gametable{
    vertical-align: top;
    border: black solid 1px;
}
td.inner-gametable{
    vertical-align: top;
    min-width: 300px;
}
.brd{
    border-left: solid 1px black;
    border-right: solid 1px black;
}
span.star-checked{
    color: #05004c;
    cursor: pointer;
}
span.star-unchecked{
    color: #BFBFBF;
    cursor: pointer;
}
.stardiv{
    margin-left: 2px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div.stardiv{
    position: relative;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}
div.starhider{
    position: relative;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 1;
}
h1{
    color: #05004c;
    font-size: 50px;
    font-family: Bookman, Verdana, arial;
}
div.profile-on-hover {
    display: none;
    border: 1px solid black;
    position: absolute;
    z-index: 2;
    background: white;
}
a:hover + .profile-on-hover {
    display: block;
}
